<%- include('../layouts/mainLayout', { title: 'Moje przepisy', content: '' }) %>

<div class="user-recipes-container">
  <h1 class="user">Moje przepisy</h1>

  <% recipes.forEach(recipe => { %>
    <div class="user-recipe-card">
      <h2><%= recipe.title %></h2>
      <p><strong>Składniki:</strong></p>
      <ul>
        <% recipe.ingredients.split('\n').forEach(ingredient => { %>
          <li><%= ingredient.trim() %></li>
        <% }); %>
      </ul>
      <p><strong>Instrukcje:</strong></p>
      <ul>
        <% recipe.instructions.split('\n').forEach(instruction => { %>
          <li><%= instruction.trim() %></li>
        <% }); %>
      </ul>
      <div class="recipe-actions">
        <a href="/userRecipes/<%= recipe._id %>/editRecipe" class="user-btn save-btn">Edytuj</a>
        <a href="/userRecipes/<%= recipe._id %>/delete" onclick="return confirm('Czy na pewno chcesz usunąć ten przepis?')" class="user-btn cancel-btn">Usuń</a>
      </div>

      <div class="comment">
      <% if (typeof recipe.comments !== 'undefined' && recipe.comments.length > 0) { %>
        <% recipe.comments.forEach(comment => { %>
            <p><strong>Użytkownik:</strong> <%= comment.user.name %></p>
            <!--<p><strong>Ocena:</strong> <%= comment.rating %></p>-->
            <% 
                    const rating = comment.rating;
                    const maxRating = 5;
                    for (let i = 1; i <= maxRating; i++) {
                      if (i <= rating) {
                        %> <span class="star">★</span> <% 
                      } else {
                        %> <span class="star">☆</span> <% 
                      }
                    }
                  %>
            <p><strong>Komentarz:</strong> <%= comment.content %></p>
            <p class="full"></p>
        <% }); %>
      <% } else { %>
        <p>Niestety, nie ma jeszcze komentarzy do tego przepisu.</p>
      <% } %>
      </div>
    </div>
  <% }) %>
</div>
